# ── Template — copie para .env.development ou .env.production e preencha ──────
VITE_SSO_URL=https://trunk.sso.mercadoe.com
VITE_SSO_REALM=zerotrust
VITE_SSO_CLIENT_ID=
VITE_SSO_CLIENT_SECRET=

VITE_API_URL=http://localhost:3001
