PORT=3001
N8N_WEBHOOK_URL=https://mercadoeletronico.app.n8n.cloud/webhook/zendesk-dashboard
ZD_SUBDOMAIN=mercadoe
ZD_EMAIL=jonathan.menezes@me.com.br
ZD_TOKEN=80Z9d0I7aejadjo63XmROL1vkXowUXVDx5G6YZzg
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
